body {
	margin: 0;
	padding: 0;
	font-family: sans-serif;
}

.container {
	max-width: 800px;
	margin: 0 auto;
	padding: 20px;
	border: 1px solid black;
}

.module {
	margin-bottom: 10px;
}

.modules {
	margin-bottom: 20px;
}

.module label, .module textarea {
	display: inline-block;
	width: 100%;
	padding: 10px;
}

.module label {
	width: 30vw;
}

.module textarea {
	width: 70vw;
	vertical-align: middle;
	/*margin-left: 20px;*/
}